@using LoLUniverse.Helpers
@using RiotApi.Net.RestClient.Helpers
@model LoLUniverse.Models.ChampionsModel.ChampionModel

@section headerscripts{
    @Scripts.Render("~/bundles/canvas")
}

<style>
    body
    {
        background-image: url('@Model.SplashImage') !important;
        background-attachment: fixed;
    }
</style>

<div class="row">
    <div class="col-md-4">
        <h2>@Model.StaticChampionDto.Name</h2>
        <img src="@Model.ChampionImage" alt="@Model.StaticChampionDto.Name" />
    </div>
    <div class="col-md-8">
        @Html.Partial("ChampionChart", Model.StaticChampionDto)
    </div>
</div>

<br />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Details", "Champions", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Get, new { @class = "form-inline", role = "form" }))
        {
            @Html.HiddenFor(m => m.Region)
            @Html.HiddenFor(m => m.ChampionId)
            <div class="form-group">
                @Html.DropDownListFor(m => m.CurrentSkinId, new SelectList(Model.StaticChampionDto.Skins, "Num", "Name"), new { @class = "form-control", onchange = "this.form.submit();" })
            </div>

            <div class="form-group">
                @Html.ValidationMessageFor(m => m.Region, "", new { @class = "text-danger" })
            </div>
        }
    </div>
</div>
<br />

<div class="row alpha60">
    <div class=" col-md-4">
        <img src="@Model.LoadingImage" alt="@Model.StaticChampionDto.Name" />
    </div>
    <div class=" col-md-8">
        <h1>Lore</h1>
        <p class="lead">@Html.Raw(Model.StaticChampionDto.Lore)</p>
    </div>
</div>



