@using LoLUniverse.Helpers
@using LoLUniverse.Models.Search
@model LoLUniverse.Models.LeaderboardModel


<h2>
    @RiotApiEnumsDisplay.GetDisplayForQueueType(Model.LeagueDto.Queue)
</h2>
@Html.Partial("FilterLeaderboard", Model)
<table class="table">
    <tr>
        <th>Player</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Points</th>
        <th>Points</th>
    </tr>

    @foreach (var entry in Model.LeagueEntries)
    {
        <tr>
            <td>
                @Html.ActionLink(entry.PlayerOrTeamName, "SummonerResults", "Search", 
               new { SummonerName = entry.PlayerOrTeamName, Region = (int)Model.Region }, null)
            </td>
            <td>
                @entry.Wins
            </td>
            <td>
                @entry.Losses
            </td>
            <td>
                <img src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/ui/score.png" alt="score"/> @entry.LeaguePoints
            </td>
            <td>
                @if (entry.IsVeteran)
                {
                    <img src = "/Content/Assets/Images/veteran.png" width="25" height="25"/>
                }
                else if (entry.IsFreshBlood)
                {
                    <img src="/Content/Assets/Images/fresh-vine_43542.png" width="25" height="25"/>
                }
                else if (entry.IsHotStreak)
                {
                    <img src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/ui/spells.png" width="25" height="25" />
                }
            </td>
        </tr>
    }
</table>
